include ../../../node_modules/bemto.jade/bemto.jade
include ../body/body
include ../header/header
include ../pagewrapper/pagewrapper
include ../scripts/scripts


doctype html
html(lang='ru')
	include ../head/head
	+body
		+pagewrapper
			+header
			block content

		+scripts(['app.min.js'])
