include ../content/content
include ../title/title
include ../formitems/formitems
include ../formsection/formsection
include ../checkcontrols/checkcontrols
include ../range/range

mixin form-anketa()
	+content()
		+b('form')(method="POST",action="").form-anketa
			+title()
				| Дело
			
			+formsection('fieldset')
				+formitems(getData('formitems'))

			+formsection('fieldset')._inline
				+e('legend').label_inline Выпускник #[a(href="http://htmlacademy.ru") htmlacademy.ru]
				+checkcontrols('is-graduateacademy', 'yes', 'radio', 'Да', 'false', 'formsection__input_inline')
				+checkcontrols('is-graduateacademy', 'no', 'radio', 'Нет', 'false', 'formsection__input_inline')
				+checkcontrols('is-graduateacademy', 'tutor', 'radio', 'Наставник', 'true', 'formsection__input_inline')
				
			+formsection('fieldset')
				+e('legend').label_block Практические навыки
				+b('small').small-text_asterisk Отметьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутствие опыта отнюдь не означает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми гарантированно будете справляться.
				+b.flowing-columns
					+checkcontrols(getData('checkcontrols'))

			+formsection()
				+e('label').label_block(for='js_levels') Уровень владения JavaScript
				+range()

			+formsection('fieldset')
				+b.formitem
					+e('label').label(for='date') Дата заполнения
					+e('input').input-text_sized(type='date', size='10', id='date', value='19.01.2016')
