//Sprites

$sprite_logo = 'logo'
$sprite_stamp = 'stamp'
$sprite_title = 'title'
$sprite_checkboxchecked = 'checkboxchecked'
$sprite_checkboxempty = 'checkboxempty'
$sprite_radiochecked = 'radiochecked'
$sprite_radioempty = 'radioempty'
$sprite_sliderarrow = 'sliderarrow'
$sprite_sliderarrowfocused = 'sliderarrowfocused'

//Colors

$color_bg = #F1CB9A
$color_dark = #2f1b15 //#422720
$color_link = #014f98
$color_bleak = #3d3d3d
$color_bright = #D52F4D
$color_danger = #ff0000

//Sizes

$fs_small = 14px
$fs_medium = 22px