.mainlogo
	sprite $logo
	
	&:before
		sprite $stamp
		content ''
		display block
		position absolute
		top -12px
		right 0
	
	&__hidden
		display none
	
.logogroup
	
	&__sublogo
		font-size 10px
		position relative
		left 8px
		top -2px